<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnimationInformation</key>
	<array>
		<dict>
			<key>AnimationID</key>
			<string>voidAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>map_void_0.png</string>
				<string>map_void_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>redSeaAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>map_radSea_0.png</string>
				<string>map_radSea_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>RedHeadMonsterAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>RedHeadMonster_0.png</string>
				<string>RedHeadMonster_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>GreenHeadMonsterAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>GreenHeadMonster_0.png</string>
				<string>GreenHeadMonster_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>SmallBatAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>SmallBat_0.png</string>
				<string>SmallBat_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>SkullHumanAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>SkullHuman_0.png</string>
				<string>SkullHuman_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>BlackHeadMonsterAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>BlackHeadMonster_0.png</string>
				<string>BlackHeadMonster_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>SkullGuardAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>SkullGuard_0.png</string>
				<string>SkullGuard_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>JuniorMageAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>JuniorMage_0.png</string>
				<string>JuniorMage_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>BigBatAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>BigBat_0.png</string>
				<string>BigBat_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>MonsterFaceHumanAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>MonsterFaceHuman_0.png</string>
				<string>MonsterFaceHuman_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>SkullOfficerAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>SkullOfficer_0.png</string>
				<string>SkullOfficer_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>StoneMonsterAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>StoneMonster_0.png</string>
				<string>StoneMonster_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>BrownMageAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>BrownMage_0.png</string>
				<string>BrownMage_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>JuniorGuardAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>JuniorGuard_0.png</string>
				<string>JuniorGuard_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>RedBatAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>RedBat_0.png</string>
				<string>RedBat_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>HighMageAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>HighMage_0.png</string>
				<string>HighMage_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>StrangeMonsterAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>StrangeMonster_0.png</string>
				<string>StrangeMonster_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>WhiteWarriorAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>WhiteWarrior_0.png</string>
				<string>WhiteWarrior_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>GoldGuardAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>GoldGuard_0.png</string>
				<string>GoldGuard_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>RedMageAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>RedMage_0.png</string>
				<string>RedMage_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>MonsterFaceWarriorAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>MonsterFaceWarrior_0.png</string>
				<string>MonsterFaceWarrior_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>MingGuardAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>MingGuard_0.png</string>
				<string>MingGuard_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>HighGuardAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>HighGuard_0.png</string>
				<string>HighGuard_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>SwordsmanAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>Swordsman_0.png</string>
				<string>Swordsman_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>MingWarriorAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>MingWarrior_0.png</string>
				<string>MingWarrior_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>GoldOfficerAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>GoldOfficer_0.png</string>
				<string>GoldOfficer_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>LingMageAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>LingMage_0.png</string>
				<string>LingMage_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>MingOfficerAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>MingOfficer_0.png</string>
				<string>MingOfficer_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>LingWarriorAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>LingWarrior_0.png</string>
				<string>LingWarrior_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>RedKingAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>RedKing_0.png</string>
				<string>RedKing_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>ShadowWarriorAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>ShadowWarrior_0.png</string>
				<string>ShadowWarrior_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>MingLingKingAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>MingLingKing_0.png</string>
				<string>MingLingKing_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>BigWingsAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>BigWings_0.png</string>
				<string>BigWings_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>PlayerGoDownAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>player_goDown_0.png</string>
				<string>player_goDown_1.png</string>
				<string>player_down.png</string>
			</array>
			<key>Delay</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>PlayerGoUpAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>player_goUp_0.png</string>
				<string>player_goUp_1.png</string>
				<string>player_up.png</string>
			</array>
			<key>Delay</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>PlayerGoLeftAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>player_goLeft_0.png</string>
				<string>player_goLeft_1.png</string>
				<string>player_left.png</string>
			</array>
			<key>Delay</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>PlayerGoRightAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>player_goRight_0.png</string>
				<string>player_goRight_1.png</string>
				<string>player_right.png</string>
			</array>
			<key>Delay</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>FairyAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>fairy_0.png</string>
				<string>fairy_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>BusinessWomanAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>businessWoman_0.png</string>
				<string>businessWoman_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>MysteriousOldManAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>mysteriousOldMan_0.png</string>
				<string>mysteriousOldMan_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>ThiefAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>thief_0.png</string>
				<string>thief_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>PrincessAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>princess_0.png</string>
				<string>princess_1.png</string>
			</array>
		</dict>
		<dict>
			<key>AnimationID</key>
			<string>ShopMiddleAnimation</string>
			<key>AnimationFrames</key>
			<array>
				<string>shopMiddle_0.png</string>
				<string>shopMiddle_1.png</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
