<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockInformation</key>
	<array>
		<dict>
			<key>ID</key>
			<string>Air</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>map_ground_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Wall</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>map_wall.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedSea</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>map_radSea_0.png</string>
			<key>AnimationID</key>
			<string>redSeaAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Void</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>map_void_0.png</string>
			<key>AnimationID</key>
			<string>voidAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Upstairs</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>map_upstairs.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Downstairs</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>map_downstairs.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedHeadMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedHeadMonster_0.png</string>
			<key>AnimationID</key>
			<string>RedHeadMonsterAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>GreenHeadMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>GreenHeadMonster_0.png</string>
			<key>AnimationID</key>
			<string>GreenHeadMonsterAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SmallBat</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SmallBat_0.png</string>
			<key>AnimationID</key>
			<string>SmallBatAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SkullHuman</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SkullHuman_0.png</string>
			<key>AnimationID</key>
			<string>SkullHumanAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BlackHeadMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>BlackHeadMonster_0.png</string>
			<key>AnimationID</key>
			<string>BlackHeadMonsterAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SkullGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SkullGuard_0.png</string>
			<key>AnimationID</key>
			<string>SkullGuardAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>JuniorMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>JuniorMage_0.png</string>
			<key>AnimationID</key>
			<string>JuniorMageAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BigBat</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>BigBat_0.png</string>
			<key>AnimationID</key>
			<string>BigBatAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>MonsterFaceHuman</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MonsterFaceHuman_0.png</string>
			<key>AnimationID</key>
			<string>MonsterFaceHumanAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SkullOfficer</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SkullOfficer_0.png</string>
			<key>AnimationID</key>
			<string>SkullOfficerAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>StoneMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>StoneMonster_0.png</string>
			<key>AnimationID</key>
			<string>StoneMonsterAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BrownMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>BrownMage_0.png</string>
			<key>AnimationID</key>
			<string>BrownMageAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>JuniorGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>JuniorGuard_0.png</string>
			<key>AnimationID</key>
			<string>JuniorGuardAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedBat</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedBat_0.png</string>
			<key>AnimationID</key>
			<string>RedBatAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>HighMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>HighMage_0.png</string>
			<key>AnimationID</key>
			<string>HighMageAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>StrangeMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>StrangeMonster_0.png</string>
			<key>AnimationID</key>
			<string>StrangeMonsterAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>WhiteWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>WhiteWarrior_0.png</string>
			<key>AnimationID</key>
			<string>WhiteWarriorAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>GoldGuard_0.png</string>
			<key>AnimationID</key>
			<string>GoldGuardAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedMage_0.png</string>
			<key>AnimationID</key>
			<string>RedMageAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>MonsterFaceWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MonsterFaceWarrior_0.png</string>
			<key>AnimationID</key>
			<string>MonsterFaceWarriorAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingGuard_0.png</string>
			<key>AnimationID</key>
			<string>MingGuardAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>HighGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>HighGuard_0.png</string>
			<key>AnimationID</key>
			<string>HighGuardAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Swordsman</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>Swordsman_0.png</string>
			<key>AnimationID</key>
			<string>SwordsmanAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingWarrior_0.png</string>
			<key>AnimationID</key>
			<string>MingWarriorAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldOfficer</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>GoldOfficer_0.png</string>
			<key>AnimationID</key>
			<string>GoldOfficerAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>LingMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>LingMage_0.png</string>
			<key>AnimationID</key>
			<string>LingMageAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingOfficer</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingOfficer_0.png</string>
			<key>AnimationID</key>
			<string>MingOfficerAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>LingWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>LingWarrior_0.png</string>
			<key>AnimationID</key>
			<string>LingWarriorAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedKing</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedKing_0.png</string>
			<key>AnimationID</key>
			<string>RedKingAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShadowWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>ShadowWarrior_0.png</string>
			<key>AnimationID</key>
			<string>ShadowWarriorAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingLingKing</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingLingKing_0.png</string>
			<key>AnimationID</key>
			<string>MingLingKingAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedKey</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>RedKey_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>YellowKey</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>YellowKey_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BlueKey</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BlueKey_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedStone</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>RedStone_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SmallBottle</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SmallBottle_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BlueStone</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BlueStone_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BIgBottle</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BIgBottle_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>IronSwords</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>IronSwords_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>KeyBox</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>KeyBox_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>IronShield</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>IronShield_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldCoin</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>GoldCoin_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SmallWings</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SmallWings_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>LuckyCross</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>LuckyCross_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SuperSwords</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SuperSwords_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldShield</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>GoldShield_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BigWings</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BigWings_0.png</string>
			<key>AnimationID</key>
			<string>BigWingsAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SuperWater</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SuperWater_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BestSwords</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BestSwords_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BestShield</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BestShield_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
