<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockInformation</key>
	<array>
		<dict>
			<key>ID</key>
			<string>Air</string>
			<key>Type</key>
			<string>Air</string>
			<key>UsingImage</key>
			<string>map_ground_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Wall</string>
			<key>Type</key>
			<string>Wall</string>
			<key>UsingImage</key>
			<string>map_wall.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedSea</string>
			<key>Type</key>
			<string>Wall</string>
			<key>UsingImage</key>
			<string>map_radSea_0.png</string>
			<key>AnimationID</key>
			<string>redSeaAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Void</string>
			<key>Type</key>
			<string>Wall</string>
			<key>UsingImage</key>
			<string>map_void_0.png</string>
			<key>AnimationID</key>
			<string>voidAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Upstairs</string>
			<key>Type</key>
			<string>Upstairs</string>
			<key>UsingImage</key>
			<string>map_upstairs.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Downstairs</string>
			<key>Type</key>
			<string>Downstairs</string>
			<key>UsingImage</key>
			<string>map_downstairs.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedHeadMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedHeadMonster_0.png</string>
			<key>AnimationID</key>
			<string>RedHeadMonsterAnimation</string>
			<key>HP</key>
			<integer>70</integer>
			<key>Attack</key>
			<integer>15</integer>
			<key>Defence</key>
			<integer>2</integer>
			<key>Name</key>
			<string>红头怪</string>
			<key>Money</key>
			<integer>2</integer>
			<key>Exp</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>GreenHeadMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>GreenHeadMonster_0.png</string>
			<key>AnimationID</key>
			<string>GreenHeadMonsterAnimation</string>
			<key>HP</key>
			<integer>50</integer>
			<key>Attack</key>
			<integer>20</integer>
			<key>Defence</key>
			<integer>1</integer>
			<key>Name</key>
			<string>绿头怪</string>
			<key>Money</key>
			<integer>1</integer>
			<key>Exp</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>SmallBat</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SmallBat_0.png</string>
			<key>AnimationID</key>
			<string>SmallBatAnimation</string>
			<key>HP</key>
			<integer>100</integer>
			<key>Attack</key>
			<integer>20</integer>
			<key>Defence</key>
			<integer>5</integer>
			<key>Name</key>
			<string>小蝙蝠</string>
			<key>Money</key>
			<integer>3</integer>
			<key>Exp</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>SkullHuman</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SkullHuman_0.png</string>
			<key>AnimationID</key>
			<string>SkullHumanAnimation</string>
			<key>HP</key>
			<integer>110</integer>
			<key>Attack</key>
			<integer>25</integer>
			<key>Defence</key>
			<integer>5</integer>
			<key>Name</key>
			<string>骷髅人</string>
			<key>Money</key>
			<integer>5</integer>
			<key>Exp</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>BlackHeadMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>BlackHeadMonster_0.png</string>
			<key>AnimationID</key>
			<string>BlackHeadMonsterAnimation</string>
			<key>HP</key>
			<integer>200</integer>
			<key>Attack</key>
			<integer>35</integer>
			<key>Defence</key>
			<integer>10</integer>
			<key>Name</key>
			<string>青头怪</string>
			<key>Money</key>
			<integer>5</integer>
			<key>Exp</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>SkullGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SkullGuard_0.png</string>
			<key>AnimationID</key>
			<string>SkullGuardAnimation</string>
			<key>HP</key>
			<integer>150</integer>
			<key>Attack</key>
			<integer>40</integer>
			<key>Defence</key>
			<integer>20</integer>
			<key>Name</key>
			<string>骷髅士兵</string>
			<key>Money</key>
			<integer>8</integer>
			<key>Exp</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>JuniorMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>JuniorMage_0.png</string>
			<key>AnimationID</key>
			<string>JuniorMageAnimation</string>
			<key>HP</key>
			<integer>125</integer>
			<key>Attack</key>
			<integer>50</integer>
			<key>Defence</key>
			<integer>25</integer>
			<key>Name</key>
			<string>初级法师</string>
			<key>Money</key>
			<integer>10</integer>
			<key>Exp</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>BigBat</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>BigBat_0.png</string>
			<key>AnimationID</key>
			<string>BigBatAnimation</string>
			<key>HP</key>
			<integer>150</integer>
			<key>Attack</key>
			<integer>65</integer>
			<key>Defence</key>
			<integer>30</integer>
			<key>Name</key>
			<string>大蝙蝠</string>
			<key>Money</key>
			<integer>10</integer>
			<key>Exp</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>MonsterFaceHuman</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MonsterFaceHuman_0.png</string>
			<key>AnimationID</key>
			<string>MonsterFaceHumanAnimation</string>
			<key>HP</key>
			<integer>300</integer>
			<key>Attack</key>
			<integer>75</integer>
			<key>Defence</key>
			<integer>45</integer>
			<key>Name</key>
			<string>兽面人</string>
			<key>Money</key>
			<integer>13</integer>
			<key>Exp</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>SkullOfficer</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>SkullOfficer_0.png</string>
			<key>AnimationID</key>
			<string>SkullOfficerAnimation</string>
			<key>HP</key>
			<integer>400</integer>
			<key>Attack</key>
			<integer>90</integer>
			<key>Defence</key>
			<integer>50</integer>
			<key>Name</key>
			<string>骷髅队长</string>
			<key>Money</key>
			<integer>15</integer>
			<key>Exp</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>StoneMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>StoneMonster_0.png</string>
			<key>AnimationID</key>
			<string>StoneMonsterAnimation</string>
			<key>HP</key>
			<integer>500</integer>
			<key>Attack</key>
			<integer>115</integer>
			<key>Defence</key>
			<integer>65</integer>
			<key>Name</key>
			<string>石头怪人</string>
			<key>Money</key>
			<integer>15</integer>
			<key>Exp</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>BrownMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>BrownMage_0.png</string>
			<key>AnimationID</key>
			<string>BrownMageAnimation</string>
			<key>HP</key>
			<integer>250</integer>
			<key>Attack</key>
			<integer>120</integer>
			<key>Defence</key>
			<integer>70</integer>
			<key>Name</key>
			<string>麻衣法师</string>
			<key>Money</key>
			<integer>20</integer>
			<key>Exp</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>JuniorGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>JuniorGuard_0.png</string>
			<key>AnimationID</key>
			<string>JuniorGuardAnimation</string>
			<key>HP</key>
			<integer>450</integer>
			<key>Attack</key>
			<integer>150</integer>
			<key>Defence</key>
			<integer>90</integer>
			<key>Name</key>
			<string>初级卫兵</string>
			<key>Money</key>
			<integer>22</integer>
			<key>Exp</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedBat</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedBat_0.png</string>
			<key>AnimationID</key>
			<string>RedBatAnimation</string>
			<key>HP</key>
			<integer>550</integer>
			<key>Attack</key>
			<integer>160</integer>
			<key>Defence</key>
			<integer>90</integer>
			<key>Name</key>
			<string>红蝙蝠</string>
			<key>Money</key>
			<integer>25</integer>
			<key>Exp</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>HighMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>HighMage_0.png</string>
			<key>AnimationID</key>
			<string>HighMageAnimation</string>
			<key>HP</key>
			<integer>100</integer>
			<key>Attack</key>
			<integer>200</integer>
			<key>Defence</key>
			<integer>110</integer>
			<key>Name</key>
			<string>高级法师</string>
			<key>Money</key>
			<integer>30</integer>
			<key>Exp</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>StrangeMonster</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>StrangeMonster_0.png</string>
			<key>AnimationID</key>
			<string>StrangeMonsterAnimation</string>
			<key>HP</key>
			<integer>700</integer>
			<key>Attack</key>
			<integer>250</integer>
			<key>Defence</key>
			<integer>125</integer>
			<key>Name</key>
			<string>怪王</string>
			<key>Money</key>
			<integer>32</integer>
			<key>Exp</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>WhiteWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>WhiteWarrior_0.png</string>
			<key>AnimationID</key>
			<string>WhiteWarriorAnimation</string>
			<key>HP</key>
			<integer>1300</integer>
			<key>Attack</key>
			<integer>300</integer>
			<key>Defence</key>
			<integer>150</integer>
			<key>Name</key>
			<string>白衣武士</string>
			<key>Money</key>
			<integer>40</integer>
			<key>Exp</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>GoldGuard_0.png</string>
			<key>AnimationID</key>
			<string>GoldGuardAnimation</string>
			<key>HP</key>
			<integer>850</integer>
			<key>Attack</key>
			<integer>350</integer>
			<key>Defence</key>
			<integer>200</integer>
			<key>Name</key>
			<string>金卫士</string>
			<key>Money</key>
			<integer>45</integer>
			<key>Exp</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedMage_0.png</string>
			<key>AnimationID</key>
			<string>RedMageAnimation</string>
			<key>HP</key>
			<integer>500</integer>
			<key>Attack</key>
			<integer>400</integer>
			<key>Defence</key>
			<integer>260</integer>
			<key>Name</key>
			<string>红衣法师</string>
			<key>Money</key>
			<integer>47</integer>
			<key>Exp</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>MonsterFaceWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MonsterFaceWarrior_0.png</string>
			<key>AnimationID</key>
			<string>MonsterFaceWarriorAnimation</string>
			<key>HP</key>
			<integer>900</integer>
			<key>Attack</key>
			<integer>450</integer>
			<key>Defence</key>
			<integer>330</integer>
			<key>Name</key>
			<string>兽面武士</string>
			<key>Money</key>
			<integer>50</integer>
			<key>Exp</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingGuard_0.png</string>
			<key>AnimationID</key>
			<string>MingGuardAnimation</string>
			<key>HP</key>
			<integer>1250</integer>
			<key>Attack</key>
			<integer>500</integer>
			<key>Defence</key>
			<integer>400</integer>
			<key>Name</key>
			<string>冥卫兵</string>
			<key>Money</key>
			<integer>55</integer>
			<key>Exp</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>HighGuard</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>HighGuard_0.png</string>
			<key>AnimationID</key>
			<string>HighGuardAnimation</string>
			<key>HP</key>
			<integer>1500</integer>
			<key>Attack</key>
			<integer>560</integer>
			<key>Defence</key>
			<integer>460</integer>
			<key>Name</key>
			<string>高级卫兵</string>
			<key>Money</key>
			<integer>60</integer>
			<key>Exp</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>Swordsman</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>Swordsman_0.png</string>
			<key>AnimationID</key>
			<string>SwordsmanAnimation</string>
			<key>HP</key>
			<integer>1200</integer>
			<key>Attack</key>
			<integer>620</integer>
			<key>Defence</key>
			<integer>520</integer>
			<key>Name</key>
			<string>双手剑士</string>
			<key>Money</key>
			<integer>65</integer>
			<key>Exp</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingWarrior_0.png</string>
			<key>AnimationID</key>
			<string>MingWarriorAnimation</string>
			<key>HP</key>
			<integer>2000</integer>
			<key>Attack</key>
			<integer>680</integer>
			<key>Defence</key>
			<integer>590</integer>
			<key>Name</key>
			<string>冥战士</string>
			<key>Money</key>
			<integer>70</integer>
			<key>Exp</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldOfficer</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>GoldOfficer_0.png</string>
			<key>AnimationID</key>
			<string>GoldOfficerAnimation</string>
			<key>HP</key>
			<integer>900</integer>
			<key>Attack</key>
			<integer>750</integer>
			<key>Defence</key>
			<integer>650</integer>
			<key>Name</key>
			<string>金队长</string>
			<key>Money</key>
			<integer>77</integer>
			<key>Exp</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>LingMage</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>LingMage_0.png</string>
			<key>AnimationID</key>
			<string>LingMageAnimation</string>
			<key>HP</key>
			<integer>1500</integer>
			<key>Attack</key>
			<integer>830</integer>
			<key>Defence</key>
			<integer>730</integer>
			<key>Name</key>
			<string>灵法师</string>
			<key>Money</key>
			<integer>80</integer>
			<key>Exp</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingOfficer</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingOfficer_0.png</string>
			<key>AnimationID</key>
			<string>MingOfficerAnimation</string>
			<key>HP</key>
			<integer>2500</integer>
			<key>Attack</key>
			<integer>900</integer>
			<key>Defence</key>
			<integer>850</integer>
			<key>Name</key>
			<string>冥队长</string>
			<key>Money</key>
			<integer>84</integer>
			<key>Exp</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>LingWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>LingWarrior_0.png</string>
			<key>AnimationID</key>
			<string>LingWarriorAnimation</string>
			<key>HP</key>
			<integer>1200</integer>
			<key>Attack</key>
			<integer>980</integer>
			<key>Defence</key>
			<integer>900</integer>
			<key>Name</key>
			<string>灵武士</string>
			<key>Money</key>
			<integer>88</integer>
			<key>Exp</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedKing</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>RedKing_0.png</string>
			<key>AnimationID</key>
			<string>RedKingAnimation</string>
			<key>HP</key>
			<integer>15000</integer>
			<key>Attack</key>
			<integer>1000</integer>
			<key>Defence</key>
			<integer>1000</integer>
			<key>Name</key>
			<string>红衣魔王</string>
			<key>Money</key>
			<integer>100</integer>
			<key>Exp</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShadowWarrior</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>ShadowWarrior_0.png</string>
			<key>AnimationID</key>
			<string>ShadowWarriorAnimation</string>
			<key>HP</key>
			<integer>3100</integer>
			<key>Attack</key>
			<integer>1150</integer>
			<key>Defence</key>
			<integer>1050</integer>
			<key>Name</key>
			<string>影子战士</string>
			<key>Money</key>
			<integer>92</integer>
			<key>Exp</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>MingLingKing</string>
			<key>Type</key>
			<string>Monster</string>
			<key>UsingImage</key>
			<string>MingLingKing_0.png</string>
			<key>AnimationID</key>
			<string>MingLingKingAnimation</string>
			<key>HP</key>
			<integer>30000</integer>
			<key>Attack</key>
			<integer>1700</integer>
			<key>Defence</key>
			<integer>1500</integer>
			<key>Name</key>
			<string>冥灵魔王</string>
			<key>Money</key>
			<integer>250</integer>
			<key>Exp</key>
			<integer>220</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedKey</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>RedKey_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>RedKey</string>
					<key>Value</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>YellowKey</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>YellowKey_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>YellowKey</string>
					<key>Value</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>BlueKey</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BlueKey_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>BlueKey</string>
					<key>Value</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedStone</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>RedStone_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Attack</string>
					<key>Value</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>SmallBottle</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SmallBottle_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>HP</string>
					<key>Value</key>
					<string>200</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>BlueStone</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BlueStone_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Defence</string>
					<key>Value</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>BIgBottle</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BIgBottle_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>HP</string>
					<key>Value</key>
					<string>500</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>IronSwords</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>IronSwords_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Attack</string>
					<key>Value</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>KeyBox</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>KeyBox_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>RedKey</string>
					<key>Value</key>
					<string>1</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>BlueKey</string>
					<key>Value</key>
					<string>1</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>YellowKey</string>
					<key>Value</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>IronShield</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>IronShield_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Defence</string>
					<key>Value</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldCoin</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>GoldCoin_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Money</string>
					<key>Value</key>
					<string>300</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>SmallWings</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SmallWings_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Level</string>
					<key>Value</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>LuckyCross</string>
			<key>Type</key>
			<string>LuckyCross</string>
			<key>UsingImage</key>
			<string>LuckyCross_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SuperSwords</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SuperSwords_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Attack</string>
					<key>Value</key>
					<string>70</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>GoldShield</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>GoldShield_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Defence</string>
					<key>Value</key>
					<string>85</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>BigWings</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BigWings_0.png</string>
			<key>AnimationID</key>
			<string>BigWingsAnimation</string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Level</string>
					<key>Value</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>SuperWater</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>SuperWater_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>HP</string>
					<key>Value</key>
					<string>1x</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>BestSwords</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BestSwords_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Attack</string>
					<key>Value</key>
					<string>150</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>BestShield</string>
			<key>Type</key>
			<string>Item</string>
			<key>UsingImage</key>
			<string>BestShield_0.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>ThingsToGive</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Defence</string>
					<key>Value</key>
					<string>190</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<string>RedDoor</string>
			<key>Type</key>
			<string>Door</string>
			<key>UsingImage</key>
			<string>Red_Door.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>DoorAnimationType</key>
			<string>TwoHalf</string>
			<key>LeftDoorImage</key>
			<string>Red_Door_Left.png</string>
			<key>RightDoorImage</key>
			<string>Red_Door_Right.png</string>
			<key>Color</key>
			<string>Red</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BlueDoor</string>
			<key>Type</key>
			<string>Door</string>
			<key>UsingImage</key>
			<string>Blue_Door.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>DoorAnimationType</key>
			<string>TwoHalf</string>
			<key>LeftDoorImage</key>
			<string>Blue_Door_Left.png</string>
			<key>RightDoorImage</key>
			<string>Blue_Door_Right.png</string>
			<key>Color</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>YellowDoor</string>
			<key>Type</key>
			<string>Door</string>
			<key>UsingImage</key>
			<string>Yellow_Door.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>DoorAnimationType</key>
			<string>TwoHalf</string>
			<key>LeftDoorImage</key>
			<string>Yellow_Door_Left.png</string>
			<key>RightDoorImage</key>
			<string>Yellow_Door_Right.png</string>
			<key>Color</key>
			<string>Yellow</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>GateDoor</string>
			<key>Type</key>
			<string>Door</string>
			<key>UsingImage</key>
			<string>Gate_Door.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>DoorAnimationType</key>
			<string>OneBody</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>SuperDoor</string>
			<key>Type</key>
			<string>Door</string>
			<key>UsingImage</key>
			<string>Super_Door.png</string>
			<key>AnimationID</key>
			<string></string>
			<key>DoorAnimationType</key>
			<string>NoAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Fairy</string>
			<key>Type</key>
			<string>Fairy</string>
			<key>UsingImage</key>
			<string>fairy_0.png</string>
			<key>AnimationID</key>
			<string>FairyAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>BusinessWoman</string>
			<key>Type</key>
			<string>Person</string>
			<key>UsingImage</key>
			<string>businessWoman_0.png</string>
			<key>AnimationID</key>
			<string>BusinessWomanAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>MysteriousOldMan</string>
			<key>Type</key>
			<string>Person</string>
			<key>UsingImage</key>
			<string>mysteriousOldMan_0.png</string>
			<key>AnimationID</key>
			<string>MysteriousOldManAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Thief</string>
			<key>Type</key>
			<string>Thief</string>
			<key>UsingImage</key>
			<string>thief_0.png</string>
			<key>AnimationID</key>
			<string>ThiefAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Princess</string>
			<key>Type</key>
			<string>Princess</string>
			<key>UsingImage</key>
			<string>princess_0.png</string>
			<key>AnimationID</key>
			<string>PrincessAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShopLeft</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>shopLeft_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShopMiddle</string>
			<key>Type</key>
			<string>Person</string>
			<key>UsingImage</key>
			<string>shopMiddle_0.png</string>
			<key>AnimationID</key>
			<string>ShopMiddleAnimation</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShopRight</string>
			<key>Type</key>
			<string>Block</string>
			<key>UsingImage</key>
			<string>shopRight_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>Stove</string>
			<key>Type</key>
			<string>Stove</string>
			<key>UsingImage</key>
			<string>Stove_0.png</string>
			<key>AnimationID</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
