<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShopInformation</key>
	<array>
		<dict>
			<key>ShopTitle</key>
			<string>只要25个金币,你就可以得到:</string>
			<key>ThingsToSell</key>
			<array>
				<dict>
					<key>ThingTitle</key>
					<string>800点生命</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>HP</string>
						<key>ThingValue</key>
						<string>800</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>25</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>4点攻击</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Attack</string>
						<key>ThingValue</key>
						<string>4</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>25</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>4点防御</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Defence</string>
						<key>ThingValue</key>
						<string>4</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>25</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopTitle</key>
			<string>如果你急需钥匙,你可以从这里购买</string>
			<key>ThingsToSell</key>
			<array>
				<dict>
					<key>ThingTitle</key>
					<string>1把黄钥匙-10元</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>YellowKey</string>
						<key>ThingValue</key>
						<string>1</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>10</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>1把蓝钥匙-50元</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>BlueKey</string>
						<key>ThingValue</key>
						<string>1</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>50</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>1把红钥匙-100元</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>RedKey</string>
						<key>ThingValue</key>
						<string>1</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>100</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopTitle</key>
			<string>我是这里的神秘老人,希望可以帮到你</string>
			<key>ThingsToSell</key>
			<array>
				<dict>
					<key>ThingTitle</key>
					<string>提升一级-100点经验</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Level</string>
						<key>ThingValue</key>
						<string>1</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Exp</string>
						<key>ThingValue</key>
						<string>100</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>给我5点攻击-30点经验</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Attack</string>
						<key>ThingValue</key>
						<string>5</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Exp</string>
						<key>ThingValue</key>
						<string>30</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>给我5点防御-30点经验</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Defence</string>
						<key>ThingValue</key>
						<string>5</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Exp</string>
						<key>ThingValue</key>
						<string>30</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopTitle</key>
			<string>只要100个金币,你就可以得到:</string>
			<key>ThingsToSell</key>
			<array>
				<dict>
					<key>ThingTitle</key>
					<string>4000点生命</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>HP</string>
						<key>ThingValue</key>
						<string>4000</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>100</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>20点攻击</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Attack</string>
						<key>ThingValue</key>
						<string>20</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>100</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>20点防御</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Defence</string>
						<key>ThingValue</key>
						<string>20</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>100</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopTitle</key>
			<string>如果你有多余的钥匙,可以在这里卖掉</string>
			<key>ThingsToSell</key>
			<array>
				<dict>
					<key>ThingTitle</key>
					<string>卖掉一把黄钥匙-7元</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>7</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>YellowKey</string>
						<key>ThingValue</key>
						<string>1</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>卖掉一把蓝钥匙-35元</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>35</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>BlueKey</string>
						<key>ThingValue</key>
						<string>1</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>卖掉一把红钥匙-70元</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Money</string>
						<key>ThingValue</key>
						<string>70</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>RedKey</string>
						<key>ThingValue</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ShopTitle</key>
			<string>我是这里的神秘老人,希望可以帮到你</string>
			<key>ThingsToSell</key>
			<array>
				<dict>
					<key>ThingTitle</key>
					<string>提升三级-270点经验</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Level</string>
						<key>ThingValue</key>
						<string>3</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Exp</string>
						<key>ThingValue</key>
						<string>270</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>给我17点攻击-95点经验</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Attack</string>
						<key>ThingValue</key>
						<string>17</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Exp</string>
						<key>ThingValue</key>
						<string>95</string>
					</dict>
				</dict>
				<dict>
					<key>ThingTitle</key>
					<string>给我17点防御-95点经验</string>
					<key>ThingGet</key>
					<dict>
						<key>ThingType</key>
						<string>Defence</string>
						<key>ThingValue</key>
						<string>17</string>
					</dict>
					<key>ThingCost</key>
					<dict>
						<key>ThingType</key>
						<string>Exp</string>
						<key>ThingValue</key>
						<string>95</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
